//Font
$font1: 'Poppins', sans-serif;

//Colors
$ColorPrimary: #4642FF;
$ColorSecondary: #FF6B00;
$ColorWhite: #FFF;
$ColorBlack: #161616;
$ColorGrayPrimary: #3F3F3F;
$ColorGraySecondary: #4B4B4B;
$ColorGraySilver: #F5F7FA;
$ColorDarkBlue: #3A3B7B;

//Breakpoints:
$mobile: 767px;
$tablet: 1024px;