@use 'config/reset';
@use 'config/var';
@use 'nav';
@use 'header';
@use 'about';

html{
  font-size: 10px;
}

body{
  .container{
    max-width: 102.4rem;
    width: 100%;
    margin: 0 auto;
  }

}

/*Sections*/
.section{
  padding-top: 7rem;

  &__header{
    margin-bottom: 5rem;
    
    &__title{
      font-size: 3rem;
      font-weight: 500;
      color: var.$ColorGrayPrimary;
    }

    &__text{
      color: var.$ColorGrayPrimary;
      margin-top: 1rem;
    }
  }
}



/*Responsive*/

//Mobile
@media screen and (max-width: var.$mobile){
  body .container{
    max-width: 90%;
  }
}


@media screen and (min-width: 768px) and (max-width: var.$tablet){
  body .container{
    max-width: 95%;
  }
}

